<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile {
            margin-bottom: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .profile h1 {
                font-size: 2.5rem;
            }

            .profile p {
                font-size: 1.2rem;
            }
    </style>
</head>
<body>
    <div class="container">
<div class="text-center profile">
    <h1 class="display-4">Roy Roldan</h1>
    <p>Cancion: <a href="https://youtu.be/eJnQBXmZ7Ek?si=ba4A4Y2p_Dq9OdHY">Twenty One Pilots</a>.</p>
</div>
        <div class="text-center profile">
            <h1 class="display-4">Steven Estrada Coronado</h1>
            <p>Cancion: <a href="https://youtu.be/nC0Cgjd5O4A?si=mV5RgGv823M1cN5E">Luces</a>.</p>
        </div>
        <div class="text-center profile">
            <p>Cancion: <a href="https://youtu.be/wwCykGDEp7M?si=JFL00bDmxdYMz065">Hurt</a>.</p>
        </div>
    </div>
</body>
</html>
