<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile {
            margin-bottom: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .profile h1 {
                font-size: 2.5rem;
            }

            .profile p {
                font-size: 1.2rem;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center profile">
            <h1 class="display-4">Roy Roldan Quiros</h1>
            <p>Mi grupo favorito: Twenty One Pilots</p>
            <p>Me gusta ver series</p>
            <p>Practicar natación y jugar videojuegos</p>
        </div>
        <div class="text-center profile">
            <h1 class="display-4">Steven Estrada Coronado</h1>
            <p>Me gusta jugar al fútbol</p>
            <p>Me entretiene tocar la guitarra</p>
            <p>Todos los fines de semana aprovecho para jugar fútbol con mi hermano</p>
        </div>
        <div class="text-center profile">
            <h1 class="display-4">Nazareth Zúñiga Loaiza</h1>
            <p>Me gusta tocar el violín</p>
            <p>Conocer nuevos lugares</p>
            <p>Ir al gimnasio y practicar boxeo</p>
        </div>
    </div>
</body>
</html>
