<div class="text-center">
    <h1 class="display-4">Hola mi nombre es Roy Roldan Quiros</h1>
    <p>Mi grupo favorito:Twenty one Pilots</p>
    <p>Me gusta ver Series</p>
    <p>Practicar Natacion y jugar VideoJuegos</p>
</div>