<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentación</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .profile {
            margin-bottom: 30px;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .profile h1 {
                font-size: 2.5rem;
            }

            .profile p {
                font-size: 1.2rem;
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center profile">
            <h1 class="display-4">Roy Roldan</h1>
            <p>Serie: <a href="https://www.abc.es/play/serie/rick-y-morty-3130/?ref=https%3A%2F%2Fwww.abc.es%2Fplay%2Fserie%2Frick-y-morty-3130%2F">Ricky y mortin</a>.</p>
        </div>
        <div class="text-center profile">
            <h1 class="display-4">Steven Estrada Coronado</h1>
            <p>Serie: <a href="https://depor.com/depor-play/pantalla/alice-in-borderland-de-que-trata-y-todo-sobre-la-serie-de-netflix-series-nnda-nnlt-noticia/">Alie in borderland</a>.</p>
        </div>
        <div class="text-center profile">
            <p>Serie: <a href="https://www.sensacine.com/series/serie-23886/#:~:text=Sinopsis%20%26%20Info&text=La%20ficci%C3%B3n%20indaga%20en%20las,de%20la%20poderosa%20familia%20Bridgerton.">Brigerton</a>.</p>
        </div>
    </div>
</body>
</html>
